@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.layout-container {
		@apply w-11/12  mx-auto;
	}

	.dashboard-layout-container {
		@apply w-11/12  mx-auto max-w-7xl;
	}

	.error {
		@apply border border-red-500;
	}
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}